* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo-pagina {
    margin: 0 auto;
}

.titulo-1 {
    width: 750px;
    height: 37px;
}

.titulo-1 h1{        
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 105%;
    color: #000;
}
