* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo-pagina {
    margin: 0 auto;
}

.titulo-1 {
    width: 750px;
    height: 37px;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
}

.titulo-1 h1{        
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 105%;
    color: #000;
}

#banner img{
    width: 750px;
    height: 269px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#divisao {
    width: 726px;
    height: 1px;
    background: #C4C4C4;
    margin-left: auto;
    margin-right: auto;
}

#parte-inferior {
    display: flex;
    width: 700px;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
}

article {
    width: 390px;
    height: 155px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.texto-explicativo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 162%;
}

#nome-reitora {
    margin-top: 20px;
}

.container-img img {
    width: 208px;
    height: 61px;
}
