* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo-pagina {
    margin: 0 auto;
    width: 1540px;
}

#parte-superior {
    position: relative;
}

#banner {
    margin-top: 15px;
}

#banner img {
    width: 1536px;
    height: 565px;
}

.texto-banner {
    width: 900px;
    height: 93px;
    position: absolute;
    top: 350px;
    color: #fff;
    margin-left: 25px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

.texto-banner h1 {
    font-weight: 700;
    font-size: 28pt;
    line-height: 59px;
}

.texto-banner p {
    font-weight: 500;
    font-size: 12pt;
    line-height: 28px;
}

#divisoria {
    width: 1536px;
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

.linha {
    width: 371px;
    height: 3px;
    border: 1px solid #E9E9E9;
    margin-top: 6px;
}

#divisoria p {
    width: 126px;
    height: 19px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8pt;
    line-height: 19px;
    text-transform: uppercase;
    color: #333333;
}

#parte-inferior {
    width: 1394px;
    height: 382px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.container-nav {
    width: 382px;
    height: 382px;    
    background: #F7F7F7;
    margin-right: 10px;
}

#dpp img {
    width: 120px;
    height: 88px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texto-nav {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #222222;
}

.texto-nav h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 15pt;
    line-height: 28px;
    text-transform: uppercase;
}

.texto-nav p {
    font-style: italic;
    font-weight: 500;
    font-size: 11pt;
    line-height: 19px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
